body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.header {
    background-color: #333;
    color: white;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header nav ul {
    list-style: none;
    display: flex;
    gap: 15px;
}

.header nav ul li a {
    color: white;
    text-decoration: none;
}

.hero {
    text-align: center;
    background-color:darkorange;
    padding: 100px 20px;
    color: white;
}

.car-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
}

.car-item {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
}
.seller-metrics {
    padding: 20px;
    background-color: #f9f9f9;
}

.metrics {
    display: flex;
    justify-content: space-around;
    margin: 20px 0;
}

.metric {
    background: white;
    border: 1px solid #ccc;
    padding: 15px;
    border-radius: 5px;
    text-align: center;
    width: 45%;
}
